extends /base/layout

block content
	div.container
		.page-header
			h1 #{project.name}
			a(href="/projects/#{project.slug}/build")
				button.btn.btn-primary
					span.fa.fa-building 
					|  Build now
		
		if (errors.length > 0)
			div.row
				div.col-sm-12
				- for (var i = 0; i < errors.length; i++) {
				div.alert.alert-danger #{errors[i].msg}
				- }

		div.row
			div.col-sm-12
				ul.nav.nav-tabs
					li.pull-right
						a(href="#settings", data-toggle="tab") 
							span.fa.fa-cogs
								|  Settings
					li.active.pull-right
						a(href="#builds", data-toggle="tab")
							span.fa.fa-building
								|  Builds
		div.tab-content.project-tabs
			div.tab-pane.active(id="builds").project-tab-pane
				div
					a(href="/projects/#{project.slug}/build")
						button.btn.btn-primary
							span.fa.fa-building 
							|  Build now
				div
					a(href="/projects/#{project.slug}/test")
						button.btn.btn-primary
							span.fa.fa-building 
							|  TEST
				div.row
					div.col-sm-12
						- if (builds.length > 0) {
						table.table.table-hover
							thead
								tr
									th Date
									th Status
							tbody
								- for (var i = 0; i < builds.length; i++) {
								tr(class="#{builds[i].tableRowClass()}")
									td
										a(href="/projects/#{project.slug}/build/#{builds[i]._id}") #{builds[i].createdAt}
									td #{builds[i].status}
								- }
						- } else {
						div.alert.alert-info(style="overflow:hidden")
							p.pull-left No builds
						- }
			div.tab-pane(id="settings").project-tab-pane
				form.form-signin(action="", method="post")
					div.panel.panel-default
						div.panel-heading
							h5 Project Settings
						div.panel-body
							
								div.form-group
									label Project Name
									input.form-control(type="text", name="name", placeholder="Project Name", required autofocus, value="#{project.name}")
									span.help-block A unique name for this project.
								div.form-group
									label Git Repository
									input.form-control(type="text", name="repository", placeholder="Repository", required autofocus, value="#{project.repository}")
									span.help-block Ensure that the computer running Carson has the correct permissions to access the repository using git.
								div.form-group
									label Branch
									input.form-control(type="text", name="branch", placeholder="master" autofocus, value="#{project.branch}")
									span.help-block The branch that will be checked out and built
								button.btn.btn-warning(type="submit") Save Changes
					div.panel.panel-default
						div.panel-heading
							h5 Build Settings
						div.panel-body
								div.form-group
								label xctool build arguments
								input.form-control(type="text", name="xctoolArgs", placeholder="auto", value="")
								span.help-block Build arguments to pass to xctool 
					div.panel.panel-default
						div.panel-heading
							h5 Archive Settings
						div.panel-body
							div.form-group
								label xcrun build arguments
								input.form-control(type="text", name="xcrunArgs", placeholder="auto", value="")
								span.help-block Build arguments to pass to xcrun 
					div.panel.panel-default
						div.panel-heading
							h5 Git Deployment
						div.panel-body
							div.form-group
								label Build Branches
								input.form-control(type="text", name="deploymentBranches", placeholder="deploy", value="deploy")
								span.help-block Comma deliminated list of branches to build when Carson receives a POST request from Bitbucket
					div.panel.panel-default
						div.panel-heading
							h5 Post Build Release
						div.panel-body
							div.form-group
								label Testflight Upload
								.checkbox
									label
										input(type="checkbox", name="pluginTestflightEnabled" checked=(project.plugins.testflight.enabled===true ? "checked" : undefined))
									| Upload to Testflight upon successful archive
									span.help-block Should Carson attempt to upload the archived .ipa to the Testflight service?
							div.form-group
								label Team Token
								input.form-control(type="text", name="pluginTestflightTeamToken", placeholder="Team Token", value="#{project.plugins.testflight.teamToken}")
								span.help-block This can be found in your team settings page  
									a(href="https://www.testflightapp.com/dashboard/team/edit/") here
							div.form-group
								label API Token
								input.form-control(type="text", name="pluginTestflightApiToken", placeholder="User Token", value="#{project.plugins.testflight.apiToken}")
								span.help-block This can be found on your account settings page  
									a(href="https://www.testflightapp.com/account/#api") here
							div.form-group
								label Distribution Lists
								input.form-control(type="text", name="pluginTestflightDistributionLists", placeholder="Distribution Lists", value="#{project.plugins.testflight.distributionLists}")
								span.help-block Comma deliminated distribution list names
					div.panel.panel-default
						div.panel-heading
							h5 Danger Zone
						div.panel-body
							form.form-signin.form-inline(action="/projects/#{project.slug}/delete", method="post")
								div.form-group
									label Delete this project
									p This will delete all the builds and everything to do with this project
								button.btn.btn-danger.pull-right(type="submit") Delete project
